

<div class="container spacer">
  <form [formGroup]="creationForm" (ngSubmit)="onCreation()">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Donnees Personnelles
          </mat-panel-title>
          <mat-panel-description>
            Remplissez les demandes suivantes
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Nom" required id="nom" formControlName="nom">
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Prenom" required id="prenom" formControlName="prenom">
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-radio-group required id="sexe" formControlName="sexe">
            <mat-radio-button value="homme">Homme</mat-radio-button>
            <mat-radio-button value="femme">Femme</mat-radio-button>
          </mat-radio-group>

        </div>


        <div class="example-container">
          <mat-form-field>
            <input matInput type="number" min="1" placeholder="Age" required id="age" formControlName="age">
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Telephone" required id="telephone" formControlName="telephone">
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Metier" required id="metier" formControlName="metier">
              <mat-option *ngFor="let metier of metier" [value]="metier.value">
                {{metier.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Addresse" required id="addresse" formControlName="addresse">
          </mat-form-field>
        </div>

        <span>{{errorMessage}}</span>


        <div class="col-md-1">
          <button class="btn btn-success" type="submit" [disabled]="!creationForm.valid"  >Terminer</button>
        </div>




      </mat-expansion-panel>


    </mat-accordion>
  </form>

</div>


