<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" class="md-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
<a mat-list-item class="sidenav-link" routerLink="categories/soft" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="title" mat-line>SOFTS</span>
      </a>
      <a mat-list-item class="sidenav-link" routerLink="categories/biere" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="title" mat-line>BIERES</span>
      </a>
      <a mat-list-item class="sidenav-link" routerLink="categories/aperitif" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="title" mat-line>APERITIFS</span>
      </a>
       <a mat-list-item class="sidenav-link" routerLink="categories/cocktailsansalcool" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="title" mat-line>COCKTAILS SANS ALCOOL</span>
      </a>
      <a mat-list-item class="sidenav-link" routerLink="categories/cocktailavecalcool" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="title" mat-line>COCKTAILS AVEC ALCOOL</span>
      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="md-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title">
      <a class="title-link">Hello</a>
    </h1>
    <span class="toolbar-filler"></span>
    <!--<button id="button-login" md-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
    <button id="button-logout" mat-button>Deconnexion</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
