
<mat-card class="example-card spacer container col-md-4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h2>Inscription</h2></mat-card-title>

  </mat-card-header>
  <mat-card-content>

    <li [ngClass]="{'list-group-item': true,
                     'list-group-item-danger': mode===1}">

      <form  [formGroup]="signUpForm" (ngSubmit)="onRegistrer()">

        <div class="example-container">
          <mat-form-field>
            <input  matInput placeholder="Nom Utilisateur" id="username"  formControlName="username"  name="username"  required>

          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field>
            <input  matInput placeholder="Mot de passe" id="password" name="password" formControlName="password" [type]="hide ? 'password' : 'text'">

          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input  matInput placeholder="Mot de passe" id="repassword" name="repassword" formControlName="repassword" [type]="hide ? 'password' : 'text'">

          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-success" type="submit" [disabled]="!signUpForm.valid">Inscription</button>
          </div>

        </div>
      </form>

    </li>
    <p class="text-danger">{{errorMessage}}</p>

  </mat-card-content>

</mat-card>
