.bacga{
  background-color: #D9E3E2;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.bo{
  margin-bottom: 0px;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
